div
    p
        strong Thanks for using QAShot.com!

    p Website instance 1:&nbsp;
        a(href=data.reference_url target="_blank" rel="noopener noreferrer") #{data.reference_url}

    p Website instance 2:&nbsp;
        a(href=data.test_url target="_blank" rel="noopener noreferrer") #{data.test_url}

    br


div
    p
        strong VIEW THE RESULTS

    a(href=data.results_url target="_blank" rel="noopener noreferrer") #{data.results_url}

    p The results will be deleted in 2 weeks.

    br

div
    h1 Feedback
    p We'd really appreciate it if you shared how you feel about qashot.com. User feedback can be eye-opening, and we need to know if we're moving in the right direction.
    p
        strong Could you please spend 1 minute to take our survey and help us improve QAShot.com?

    h2
        a(href="https://goo.gl/forms/5z0x2D22EO31nIne2" target="_blank" rel="noopener noreferrer") https://goo.gl/forms/5z0x2D22EO31nIne2

    br
    br

    hr

    br

div
    strong
        a(href="https://www.qashot.com" target="_blank" rel="noopener noreferrer") www.qashot.com
