p Thanks for using QAShot.com!

p Website instance 1:
    a(href=data.results_url) #{data.reference_url}

p Website instance 2:
    a(href=data.results_url) #{data.test_url}

p View the results

p Check the result of the visual comparison of Website instance 1 and 2:
a(href=data.results_url target='_blank' rel='noopener noreferrer') #{data.results_url}


p The results will be deleted on #{data.results_removal_date}.

p NEED PRO OR ENTERPRISE FEATURES?
ul
    li on-premise version
    li more viewports (incl. mobile)
    li saved screenshots
    li multiple urls, campaigns
    li scheduled re-running
    li ignore blocks
    li alerts
    li API
    li 24/7 support
