p
    b Thanks for using QAShot.com!

p Website instance 1:&nbsp
    a(href=data.reference_url) #{data.reference_url}
p Website instance 2:&nbsp
    a(href=data.test_url) #{data.test_url}


br

p
    b VIEW THE RESULTS

a(href=data.results_url target='_blank' rel='noopener noreferrer') #{data.results_url}


p The results will be deleted in 2 weeks.



br

p
    b NEED PRO OR ENTERPRISE FEATURES?
ul
    li on-premise version
    li more viewports (incl. mobile)
    li saved screenshots
    li multiple URLs, campaigns
    li scheduled re-running
    li ignore blocks
    li alerts
    li API
    li 24/7 support

br

b
    a(href="https://www.qashot.com") www.qashot.com
