//- _paginate.pug

//- This examples makes use of Bootstrap 3.x pagination classes

//- See: https://github.com/expressjs/express-paginate

if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
    nav(aria-label="Pager")
        ul.pagination
            if paginate.hasPreviousPages
                li.first.page-item
                    a.page-link(href=pages[firstPageIndex].url).page-item.first-page-item «&nbsp;First

                li.previous.page-item
                    a.page-link(href=paginate.href(true)).page-item.prev-page-item ‹&nbsp;Previous

            if pages
                each page in pages
                    a.page-link(href=page.url)= page.number

            if paginate.hasNextPages(pageCount)
                li.next
                    a.page-link(href=paginate.href()).page-item.next-page-item Next&nbsp;›

                li.last
                    a.page-link(href=pages[lastPageIndex].url).page-item.last-page-item Last&nbsp;»
