doctype html
html(lang='en')
    head
        title Admin | QAShot Microsite

        meta(charset="utf-8")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")

    body
        div.container-fluid
            h1 Tests

            p Currently, there are
                strong  #{testCount}
                |  tests in the system.

            include _paginate

            div.table-responsive
                table.table.table-hover.table-condensed
                    thead
                        tr
                            th="Id"
                            th="Email address"
                            th="Newsletter"
                            th="Reference URL"
                            th="Test URL"
                            th="Requested at"
                            th="Results received at"
                            th="Email sent at"
                            th="Email send status"
                            th="Results"
                    tbody
                        each test in tests
                            tr
                                td= test.id
                                td= test.email
                                if test.newsletter === true
                                    td= "Accepted"
                                else
                                    td= "Declined"
                                td
                                    a(href=test.reference_url) #{test.reference_url}
                                td
                                    a(href=test.test_url) #{test.test_url}
                                td= test.createdAtFormatted

                                if test.resultsReceivedAt
                                    td= test.resultsReceivedAtFormatted
                                else
                                    td= "n/a"

                                if test.emailSentAt
                                    td= test.emailSentAtFormatted
                                else
                                    td= "Unavailable"

                                if 'undefined' === typeof test.emailSentStatus || null === test.emailSentStatus
                                    td= "Unavailable"
                                else
                                    if test.emailSentStatus === true
                                        td= "Succeeded"
                                    else
                                        td= "Failed"

                                if test.results_url
                                    td
                                        a(href=test.results_url target="_blank" rel="noopener noreferer") Click to see
                                else
                                    td= "Unavailable"

            include _paginate
